.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 8px;
}

.nav-items ul{
    list-style: none;
    display: flex;
}

.nav-items li{
    margin-right:8px ;
}

.logo{
    width: 100px;
    height: 50px;
}

.card{
    width: 250px;
    height:380px;
    border: 1px solid black;
    margin: 5px;
}

.card img{
    width: 100%;
    height: 150px;
}

.restaurantList{
    display: flex;
    margin: 8px;
    flex-wrap: wrap;
}

button{
    height:100%;
}

.shimmerCard{
    width: 180px;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(235, 234, 234);
    margin: 20px;
}