.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items ul{
    list-style: none;
    display: flex;
}

.nav-items li{
    margin-right:8px ;
}

.logo{
    width: 100px;
    height: 50px;
}